<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" monitorInterval="30000">
    <Properties>
        <Property name="logDir">logs</Property>
        <Property name="logFileName">AElfClient</Property>
        <Property name="logPath">${logDir}/${logFileName}</Property>
    </Properties>
    <CustomLevels>
        <CustomLevel name="CONSUME" intLevel="350"/>
    </CustomLevels>
    <appenders>
        <!--这个输出控制台的配置 -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

    </appenders>
    <loggers>
        <Root level="info" includeLocation="true">
            <appender-ref ref="CONSOLE"/>
        </Root>
    </loggers>
</configuration>
